.parking-lot {
    margin-left: 12px;
}

.free {
    color: green;
}

.ocupied  {
    color: red;
}

.unknown   {
    color: darkgray;
}

.legends {
    display: flex;
    flex-direction: row;
}

.legend-free, .legend-ocupied, .legend-unknown {
    margin-right: 4px;
    color: white;
    padding: 4px;
    font-weight: bold;
    height: 28px;
    width: 90px;
}

.legend-free {
    background: green;
}

.legend-ocupied {
    background: red;
}

.legend-unknown {
    background: darkgray;
}